@font-face {
    font-family: "ZCOOL KuaiLe";
    src:
        local("ZCOOL KuaiLe"),
        local("ZCOOLKuaiLe"),
        url("ZCOOLKuaiLe-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
